.card {
    padding: 10px;
    width: 250px;
    border: 0.5px groove #ffffff;
    border-radius: 1rem;
}

.card:hover,
.card:active{
    box-shadow: 0 0 8px #ffffff;
    cursor: pointer;
}

.card h3 {
    font-size: 20px;
}

.card img {
    width: 250px;
    height: 200px;
}